.inbox {
  width: 40%;
  height: 200px;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  background-color: #89f1cf;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  background-color: #efb08c;
}
