.container {
    font-family: sans-serif;
    background: #c8f0f7;
    margin: 0 auto;
  }
  .inbox {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  }

  .todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 25%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

  .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  .item:last-child {
    border-bottom: 0;
  }
  input:checked + p {
    background: #3dacf7;
    text-decoration: line-through;
  }